/* These styles are just to make it easier to see the blocks, initially. */

body {margin-left: 61vw;
    background-image: url("Frame 15.svg");
    background-color: white;
    background-size: 1900px;
    background-position: left 6vw;
    background-repeat: no-repeat;
}

a { color: black; }
em { font-style: italic; }
strong { font-weight: bold; }

body,
section,
ul,
figure {
	display: grid;
	/* gap: 1em; */
	grid-template-rows: 1fr;
	grid-auto-flow: column;
	/* width: 1000px; */
}


h2{
    position: absolute;
    width: 88px;
    height: auto;
    left: 8vw;
    top: 2vw;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align:left;

}

.channel-title{
    position: absolute;
    width: 400px;
    height: auto;
    left: 14vw;
    top: 2vw;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align:left;

}



.image-block {
    /* position: absolute; */
    width: auto;
    height: 100vh;
}

.link-block {
    width: auto;
    height: 100vh;
}


.video-file-block {
    width: auto;
    height: 100vh;
}

.audio-file-block {
    margin-left: 10px;
    margin-right: 10px;
}

