/* These styles are just to make it easier to see the blocks, initially. */

body { padding: 2em; }

a { color: black; }
em { font-style: italic; }
strong { font-weight: bold; }

body,
section,
ul,
figure {
	display: grid;
	gap: 1em;
}


p{
    position: absolute;
    width: 88px;
    height: auto;
    left: 10vw;
    top: 4vw;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align:left;

}

.channel-title{
    position: absolute;
    width: 400px;
    height: auto;
    left: 32vw;
    top: 4vw;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align:left;

}

.frame {
    position: absolute;
    width: 1500px;
    height: auto;
    left: 25vw;
    top: 12vw;
}

.image-block {
    position: absolute;
    width: 1000px;
    height: auto;
    left: 90vw;
}

.link-block {
    position: absolute;
    width: 1000px;
    height: auto;
    left: 120vw;
}


.video-file-block {
    position: absolute;
    width: 1700px;
    height: auto;
    left: 150vw;
}

.audio-file-block {
    position: absolute;
    left: 26vw;
    top: 48vw;


}
